@charset "UTF-8";
/* line 6, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over #menu {
  right: 10px;
  left: 60%;
}

/* line 11, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over #fullpage {
  color:   #fff;
}

/* line 15, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
.main-nav {
  position: absolute;
  width: 100%;
  z-index: 100;
}

/* line 21, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
.main-nav h1 {
  z-index: 100;
  color: #fff;
  margin-top: 4px;
  margin-left: 5px;
  background-color: #000;
  width: 185px;
}

/* line 30, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
.main-nav {
  padding: 0px 0px 0px 10px;
}

/* line 34, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
.main-nav a {
  text-decoration: none;
  color: #fff;
}

/* line 39, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
.main-nav a:hover {
  text-decoration: none;
}

/* line 43, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#slide1 {
  background-image: url("/images/SAM_6998.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 52, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over #slide1 h1 {
  font-size: 4em;
}

/* line 56, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#slide2 {
  background-image: url("/images/coffeebean.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 65, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over #slide2 h1 {
  font-size: 4em;
}

/* line 69, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#slide3 {
  background-image: url("/images/matacafe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 78, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over #slide3 h1 {
  font-size: 4em;
}

/* line 82, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over #section1 .fp-tableCell {
  background-color: #FFD600;
}

/* line 86, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#section1 {
  color: #fff;
}

/* line 90, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#section1 p {
  color: #fff;
}

/* line 94, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#section1 a {
  text-decoration: none;
}

/* line 98, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#section2 {
  background-image: url("/images/SAM_7000.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 107, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#section2 p {
  color: #dbdbdb;
}

/* line 111, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over #section3 .fp-tableCell {
  background-color: #000;
  color: #fff;
}

/* line 116, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over #section3 h1 {
  margin-top: 150px;
}

/* line 121, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
.about, .locations, .recipes {
  padding-top-top: 40px;
}

/* line 125, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over .about {
  padding-bottom: 40px;
}

/* line 129, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over .about h1 {
  margin-top: 50px;
  margin-bottom: 40px;
}

/* line 134, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#bs-over .about p {
  text-align: justify;
  font-size: 14px;
}

/* line 139, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
.faq {
  background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
  background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
  background: linear-gradient(#4BBFC3, #7BAABE);
  min-height: 600px;
}

/* line 146, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
.faq h1 {
  margin-top: 70px;
  color: #fff;
}

/* line 150, /Users/rodrigomanuel/Nakamarra/app/assets/stylesheets/pages.scss */
#accordion {
  margin-top: 40px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 #bs-over {
	position: relative;
  	overflow: scroll;
}

 #bs-over .menu {
	background-color: #000;
	color: #fff;
	height: 100%;
  	position: fixed;
  	width: 220px;
  	right:-220px;
  	z-index: 1000;
  	margin-left: 0px;
  	padding-left: 0px;


}

#bs-over #menu {
	margin-top: 20px;
	color: #fff;
}

#bs-over #menu li {
	background-color: #333;
	color: #fff;
	opacity: 0.9;
}

#bs-over #menu li a {
	color: #fff;
}

.menu ul {
	list-style-type: none;
	margin-left: 25%;
	padding-left: 0px;
}

#bs-over .menu li {
	padding: 10px;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 10px;
	font-size: 22px;
	padding-right: 5px;
}

.menu li a {
	text-decoration: none;
	color: #fff;
}

#bs-over .menu #span a {
	color: #888888;
	border: none;
}

.icon-close i {
	cursor: pointer;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 28px;
}

#icon-menu {
	display: none;
	cursor: pointer;
	padding: 5px;
	margin-left: 5px;
	font-size: 28px;
	z-index: 1000;
	background-color: #fff;
}

#bs-over .btn {
	border-radius: 0%;
	background-color: #333;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #000;
	transition: background-color .3s;
}

#bs-over .btn:hover {
	background-color: #fff;
	color: #000;
}

#bs-over form {
	text-align: left;
	margin-bottom: 60px;
}

.footer {
	height: 200px;
	background-color: #333;
	color: #fff;
	bottom: 0px;
	padding: 20px 20px 0px 20px;
}

.footer img {
	display: inline-block;
}

#bs-over .footer .pull-left {
	left:20px;
	margin-left: 15px;
}

#bs-over .footer .pull-left a {
	font-size: 12px;
}

#bs-over .footer .pull-left a {
	text-decoration: none;
}

.footer .container {
	margin-right: 1px;
	right: 1px;
}


.footer ul {
	margin-top: 40px;
	margin-right: 0px;
	text-decoration: none;
}

.footer li {
	display: inline-block;
}

.footer li a {
	color: #fff;
}

.footer i {
	font-size: 34px;
	padding: 5px;
	transition: color .2s;
}

.footer i:hover {
	color: #888;
}

@media only screen and (max-width: 768px) {
	#menu {
		display: none;
	}

		#bs-over #icon-menu {
		font-size: 32px;
		color: #000;
		padding-left: 5px;
		padding-top: 3px;
		margin-right: 0px;
		position: fixed;
		z-index: 1000;
		display: block;
		float: right;
		margin-top: 0px;
		top: 5px;
		right: 20px;
		cursor: pointer;
	}

	#section1 {
		padding-top: 65px;
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		background-color: #fff;
	}

	#section1 a {
		text-decoration: none;
		font-size: 1.5em;
	}

	#bs-over #section1 .col-xs-12 i {
		padding-top: 10px;
	}

	#section2 .row {
		margin-top: 0px;
		padding-top: 0px;
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}

	#bs-over form {
		margin-bottom: 40px;
	}

	#bs-over .fp-controlArrow.fp-prev {
   	display: none;
}
	#bs-over .fp-controlArrow.fp-next {
 	display: none;
}

}
