<div class="comprar">
	<div class="jumbotron">
		<h1>Comprar</h1>
	</div>
		<!-- BEGIN Podio web form -->
<script src="https://podio.com/webforms/20538022/1406331.js"></script>
<script type="text/javascript">
  _podioWebForm.render("1406331")
</script>
<noscript>
  <a href="https://podio.com/webforms/20538022/1406331" target="_blank">Please fill out the form</a>
</noscript>
  <div class="podio-webform-container">
  <a href="https://podio.com" class="podio-webform-inner" rel="nofollow">Get your own</a> webform with Podio
  </div>
<!-- END Podio web form -->
<h3> Pagar en l&iacute;nea </h3>
<p>Te recomendamos hacer enviar tu pedido antes de hacer tu pago en l&iacute;nea.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="474Q85SR2ZG34">
<table>
<tr><td><input type="hidden" name="on0" value="Presentación de Cafe">Presentación de Cafe</td></tr><tr><td><select name="os0">
	<option value="San Marcos">San Marcos Q40 GTQ</option>
	<option value="Huehuetenango">Huehuetenango Q45 GTQ</option>
	<option value="Mezcla de Regiones">Mezcla de Regiones Q50 GTQ</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>

	<div class="footer">
			<ul class="pull-left">
					<li><a href="http://www.sofinteractive.com" target="_blank"><img class="img-responsive" src="/images/sofiblanco.png" width="40px"/><span>Powered by sofinteractive</span></a></li>
				</ul>
			<div class="container">
				<ul class="pull-right">
					<li><%= link_to 'https://www.facebook.com/cafedonlucas/', target: :_blank do %><i class="fa fa-facebook" aria-hidden="true"></i><% end %>
</li>
					<li><%= link_to 'https://www.instagram.com/cafedonlucas/', target: :_blank do %><i class="fa fa-instagram" aria-hidden="true"></i><% end %>
</li>
				</ul>
			</div>
		</div>	
</div>