  <script>
  $( function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  } );
  </script>
<div class="faq">
  <div class="jumbotron">
    <h1>FAQS</h1>
  </div>
	<div class="container">
		<div id="accordion">
  <h3>¿Donde se encuentra la finca?</h3>
  <div>
    <p>La finca de San Marcos se encuentra a una altura de 1,100 mts. sobre el nivel del mar, con un microclima perfecto para el cultivo del caf&eacute;. Est&aacute; ubicada en San Rafael P.C San Marcos, Guatemala.</p>
    <p>La finca de Huehuetenango se encuentra a una altura de 1,600 mts. sobre el nivel del mar y su perfil de taza es de un estrictamente-duro. Este caf&eacute; tiene una calidad de exportaci&oacute;n.</p>
  </div>
  <h3>Que hace su caf&eacute; diferente a los demas?</h3>
  <div>
    <p>Llevamos m&aacute;s de 60 años de hacer esto, llevamos a cabo cada etapa, desde el cultivo hasta su mesa, con extrema delicadeza y con los m&aacute;s altos estandares de calidad. </p>
  </div>
  <h3>Que calificaci&oacute;n tiene su caf&eacute;?</h3>
  <div>
    <p>Nuestra caf&eacute; es un caf&eacute; 100% org&aacute;nico categorizado como un cafe semi-duro, muy arom&aacute;tico y de un cuerpo robusto. </p>
  </div>
   <h3>Donde puedo encontrar su caf&eacute;?</h3>
  <div>
    <p>Actualmente nuestro caf&eacute; no se encuentra en tiendas, unicamente lo puedes ordenar a travez de nuestra p&aacute;gina web y te lo llevaremos a tu casa si tu zona aplica, de lo contrario se te enviara por transporte y tu cubriras el env&iacute;o. </p>
  </div>
</div>
	</div>
      <div class="footer">
      <ul class="pull-left">
          <li><a href="https://sofinteractive.herokuapp.com/" target="_blank"><img class="img-responsive" src="/images/sofiblanco.png" width="40px"/><span>Powered by sofinteractive</span></a></li>
        </ul>
      <div class="container">
        <ul class="pull-right">
          <li><%= link_to 'https://www.facebook.com/cafedonlucas/', target: :_blank do %><i class="fa fa-facebook" aria-hidden="true"></i><% end %>
</li>
          <li><%= link_to 'https://www.instagram.com/cafedonlucas/', target: :_blank do %><i class="fa fa-instagram" aria-hidden="true"></i><% end %>
</li>
        </ul>
      </div>
    </div>
</div>
