<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#fff', '#fff', '#fff', '#fff' ],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage'],
				loopTop: true,
				loopBottom: true,
				slidesNavigation: true,
				afterLoad: function(anchorLink, index){

					//section 2
					if(index == 2){
						//moving the image
						$('#section1').find('i').delay(100).animate({
							left: '0%'
						}, 500, 'easeOutExpo');

						$('#section1').find('p').fadeIn(500, function(){
							$('#section1').find('p').fadeIn(500);
						});;

					}

					//section 3
					if(anchorLink == '3rdPage'){
						//moving the image
						$('#section2').find('.intro').delay(200).animate({
							left: '0%'
						}, 500, 'easeOutExpo');
					}
				}
			});
		});
	</script>
	<style>
		#section1 i {
			left: 300%;
			position:relative;
		}
		#section1 p{
			display:none;
		}
		#section2 .intro{
			left: -130%;
			position:relative;
		}
	</style>


<div id="fullpage">
	<div class="section " id="section0">
		<div class="slide" id="slide1">
			<div class="intro">
				<h1>Dreamcatcher tousled thundercats</h1>
			</div>
		</div>

	    <div class="slide" id="slide2">
			<h1>Mumblecore sustainable +1 bitters</h1>
		</div>

		<div class="slide" id="slide3">
			<h1>Health goth kombucha gluten-free biodiesel selvage offal.</h1>
		</div>

	</div>
	<div class="section" id="section1">
		<div class="intro">
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<i class="fa fa-heart-o fa-5x" aria-hidden="true"></i>
					<h1>Buy</h1>
					<p>Premium quality products.</p>
					<a href="/locations">See our locations <i class="material-icons">subdirectory_arrow_right</i></a>
				</div>
				<div class="col-md-4 col-xs-12">
					<i class="fa fa-smile-o fa-5x" aria-hidden="true"></i>
					<h1>About Us</h1>
					<p>Let's get to know each other.</p>
					<a href="/about">Read about us <i class="material-icons">subdirectory_arrow_right</i></a>
				</div>
				<div class="col-md-4 col-xs-12">
					<i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
					<h1>Recipes</h1>
					<p>Be a chef with our recipes.</p>
					<a href="/recipes">See our recipe book <i class="material-icons">subdirectory_arrow_right</i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="intro">
				<div class="row">
				<div class="col-md-4 col-xs-12">
					<i class="fa fa-pagelines fa-5x" aria-hidden="true"></i>
					<h1>Fresh Ingredients</h1>
					<p>From our backyard to your plate.</p>
				</div>
				<div class="col-md-4 col-xs-12">
					<i class="fa fa-truck fa-5x" aria-hidden="true"></i>
					<h1>Daily Delivered</h1>
					<p>To keep you well stocked with our delicious product.</p>
				</div>
				<div class="col-md-4 col-xs-12">
					<i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
					<h1>Close to You</h1>
					<p>Find us at your closest convenience store.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="section3">
		<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
					<h1>Get in Touch</h1>
			<form>
	<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
  </div>
  			
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="name">Message</label>
    <input type="text-area" class="form-control" id="message" placeholder="Message">
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
			</div>
		</div>	
		</div>
		<div class="footer">
			<ul class="pull-left">
					<li><a href="/"><img class="img-responsive" src="/images/sofi3.png" width="40px"/>Powered by SOFI</a></li>
				</ul>
			<div class="container">
				<ul class="pull-right">
					<li><%= link_to 'www.facebook.com', target: :_blank do %><i class="fa fa-facebook" aria-hidden="true"></i><% end %>
</li>
					<li><%= link_to 'www.instagram.com', target: :_blank do %><i class="fa fa-instagram" aria-hidden="true"></i><% end %>
</li>
					<li><%= link_to 'www.linkedin.com', target: :_blank do %><i class="fa fa-linkedin" aria-hidden="true"></i>
<% end %> </li>
				</ul>
			</div>
		</div>
	</div>
</div>