/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #bs-over {
	position: relative;
  	overflow: scroll;
}

 #bs-over .menu {
	background-color: #000;
	color: #fff;
	height: 100%;
  	position: fixed;
  	width: 220px;
  	right:-220px;
  	z-index: 1000;
  	margin-left: 0px;
  	padding-left: 0px;


}

#bs-over #menu {
	margin-top: 20px;
	color: #fff;
}

#bs-over #menu li {
	background-color: #333;
	color: #fff;
	opacity: 0.9;
}

#bs-over #menu li a {
	color: #fff;
}

.menu ul {
	list-style-type: none;
	margin-left: 25%;
	padding-left: 0px;
}

#bs-over .menu li {
	padding: 10px;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 10px;
	font-size: 22px;
	padding-right: 5px;
}

.menu li a {
	text-decoration: none;
	color: #fff;
}

#bs-over .menu #span a {
	color: #888888;
	border: none;
}

.icon-close i {
	cursor: pointer;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 28px;
}

#icon-menu {
	display: none;
	cursor: pointer;
	padding: 5px;
	margin-left: 5px;
	font-size: 28px;
	z-index: 1000;
	background-color: #fff;
}

#bs-over .btn {
	border-radius: 0%;
	background-color: #333;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #000;
	transition: background-color .3s;
}

#bs-over .btn:hover {
	background-color: #fff;
	color: #000;
}

#bs-over li a span {
	color: #57585B;
	background-color: #57585B;
}

#bs-over li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
    color: #57585B;
    background-color: #57585B; 
}

#bs-over .fp-controlArrow.fp-next {
	right: 50px;
	color: #57585B;
	background-color: #57585B; 
}

#bs-over .fp-controlArrow.fp-prev {
	left: 50px;
	color: #57585B;
}

#bs-over form {
	text-align: left;
	margin-bottom: 60px;
}

.footer {
	height: 200px;
	background-color: #333;
	color: #fff;
	bottom: 0px;
	padding: 20px 20px 0px 20px;
}

.footer img {
	display: inline-block;
}

#bs-over .footer .pull-left {
	left:20px;
	margin-left: 15px;
}

#bs-over .footer .pull-left a {
	font-size: 12px;
}

#bs-over .footer .pull-left a {
	text-decoration: none;
}

.footer .container {
	margin-right: 1px;
	right: 1px;
}


.footer ul {
	margin-top: 40px;
	margin-right: 0px;
	text-decoration: none;
}

#bs-over .footer li {
	display: inline-block;
	color: #fff;
	background-color: none;
}

#bs-over .footer li a {
	color: #fff;
	background-color: #333333;
}

#bs-over .footer li a span {
	color: #fff;
	background-color: #333333;
}


#bs-over .footer li a span:hover {
	color: #fff;
	background-color: none;
}

#bs-over .footer li a:hover{
	color: #fff;
	background-color: none;
}

.footer i {
	font-size: 34px;
	padding: 5px;
	transition: color .2s;
}

.footer i:hover {
	color: #888;
}

@media only screen and (max-width: 768px) {
	#menu {
		display: none;
	}

		#bs-over #icon-menu {
		font-size: 32px;
		color: #000;
		padding-left: 5px;
		padding-top: 3px;
		margin-right: 0px;
		position: fixed;
		z-index: 1000;
		display: block;
		float: right;
		margin-top: 0px;
		top: 5px;
		right: 20px;
		cursor: pointer;
	}

	#bs-over #section1 .row {
		padding-top: 0px;
		margin-top: 0px;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}

	#section1 a {
		text-decoration: none;
		font-size: 1.5em;
	}

	#bs-over #section1 .col-xs-12 i {
		padding-top: 10px;
	}

	#bs-over #section2 .row {
		margin-top: 0px;
		padding-top: 0px;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}


	#bs-over .fp-controlArrow.fp-prev {
   	display: none;
}
	#bs-over .fp-controlArrow.fp-next {
 	display: none;
}

}