// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bs-over #menu {
	right: 10px;
	left: 60%;
}

#bs-over #fullpage { 
	color: #fff;
}

.main-nav {
	position: absolute;
	width: 100%;
	z-index: 100;
}

.main-nav h1 {
	z-index: 100;
	color: #fff;
	margin-top: 4px;
	margin-left: 5px;
	background-color: #000;
	width: 185px;
}

.main-nav {
	padding: 0px 0px 0px 10px;
}

.main-nav a {
	text-decoration: none;
	color: #fff;
}

.main-nav a:hover {
	text-decoration: none;
}

#slide1 {
	background-image: url('/images/SAM_6998.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow:0 2px 3px rgba(0,0,0,.6);
}

#bs-over #slide1 h1 {
	font-size: 4em;
}

#slide2 {
	background-image: url('/images/coffeebean.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow:0 2px 3px rgba(0,0,0,.6);
}

#bs-over #slide2 h1 {
	font-size: 4em;
}

#slide3 {
	background-image: url('/images/matacafe.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow:0 2px 3px rgba(0,0,0,.6);
}

#bs-over #slide3 h1 {
	font-size: 4em;
}

#bs-over #section1 .fp-tableCell {
	background-color: #FFD600;
}

#section1 {
	color: #fff;
}

#section1 p {
	color: #fff;
}

#section1 a {
	text-decoration: none;
}

#section2 {
	background-image: url('/images/SAM_7000.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow:0 2px 3px rgba(0,0,0,.6);
}

#section2 p {
	color: #dbdbdb;
}

#bs-over #section3 .fp-tableCell {
	background-color: #000;
	color: #fff;
}

#bs-over #section3 h1 {
	margin-top: 150px;

}

.about, .locations, .recipes {
	padding-top-top: 40px;
}

#bs-over .about {
	padding-bottom: 40px;
}

.about .jumbotron {
	height: 400px;
	background-image: url("/images/matacafe.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.about .jumbotron h1 {
	text-align: center;
	color: #fff;
	text-shadow:0 2px 3px rgba(0,0,0,.6);
	margin-top: 150px;
}




#bs-over .about p {
	text-align: justify;
	font-size: 14px;
}

.faq {
	background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
		background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
		background: linear-gradient(#4BBFC3,#7BAABE);
		min-height: 600px;
}

.faq h1 {
	margin-top: 70px;
	color: #fff;
}
#accordion {
	margin-top: 40px;
}

.comprar .jumbotron {
	height: 400px;
	background-image: url("/images/coffeebean.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;	
}

.comprar .jumbotron h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin-top: 150px;
	text-shadow:0 2px 3px rgba(0,0,0,.6);
}